body {
    text-align: center;
    background-color: #F0F8FF;
    font-family: 'Potta One', cursive;
    text-transform: uppercase;
    -webkit-text-stroke: .3px black;
    
}


.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
  }

  h1{
    padding: 20px 0;
    line-height: 1.1;
    font-weight: normal;
    text-align: center;
  }

.squares {
    height: 80px;
    width: 80px;
    background-color: transparent;
    border: 1px solid black;
    position: relative;
    text-align: center;
    display: inline-flex;
    vertical-align: middle;
    margin: 5px;
    border-radius: 20%;
    cursor: pointer;
    box-shadow: 5px 5px 5px #888888;
  }

#stripe {
    background: white;
    height: 30px;  
    -webkit-text-stroke: .2px black;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
  font-family: 'Potta One', cursive;
  text-align: right;
  text-transform: uppercase;
}

button:hover {
  background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
}
#results {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
    font-family: 'Potta One', cursive;
    padding: 20px;
}
